@model Project4.Models.ViewModels.LoginViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <form asp-controller="Account" asp-action="TryLogin" method="POST">
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
        </div>
        <div>
            <label asp-for="SaveCookie" class="control-label"></label>
            <input asp-for="SaveCookie" type="checkbox" value="true" />
        </div>

        <button type="submit" name="btnLogin" class="btn btn-primary">Login</button>

    </form>
    <form asp-controller="Account" asp-action="CreateAccount" method="POST">
        <button type="submit" name="btnCreateAccount" class="btn btn-secondary">Create Account</button>
    </form>
    <form asp-controller="Account" asp-action="ForgotPassword" method="get">
        <button type="submit" name="btnForogtPassword" class="btn btn-warning">Forgot Password</button>
    </form>
    <a asp-controller="Dashboard" asp-action="Dashboard" class="btn btn-secondary">Cancel</a>
</div>
