@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="ResetPassword" method="post">
    <h4>Please enter a new password</h4>
    <label for="newPassword">New Password:</label>
    <input type="text" id="newPassword" name="newPassword" required />
    <label for="newPasswordVerify">Re-Type New Password:</label>
    <input type="text" id="newPasswordVerify" name="newPasswordVerify" required />
    <button type="submit">Reset Password</button>
    <a asp-controller="Account" asp-action="Login" class="btn btn-secondary">Cancel</a>
</form>
