@{
    ViewData["Title"] = "Project 4 - Schedule Showing";
    Home home = (Home)TempData["Home"];
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <meta charset="utf-8" />
    </head>
    <body>
        @if(TempData["Home"] != null) {
        <form asp-controller="Showing" asp-action="ShowingRequest" method="POST">
            <h1>Schedule Showing</h1>
            <h2>Home Information</h2>
            <label> Agent ID: @home.AgentID</label>
            <h2>Client Information</h2>

            <label>First Name:</label>
            <input name="txtFirstName" class="form-control" />

            <label>Last Name:</label>
            <input name="txtLastName" class="form-control" />

            <label>Street:</label>
            <input name="txtStreet" class="form-control" />

            <label>City:</label>
            <input name="txtCity" class="form-control" />

            <label>State:</label>
            <select name="ddlState" class="form-control">
                @foreach (States state in Enum.GetValues(typeof(States)))
                {
                    <option value="@state">@state</option>
                }
            </select>

            <label>Zip Code:</label>
            <input name="txtZipCode" class="form-control" />

            <label>Phone Number:</label>
            <input name="txtPhoneNumber" class="form-control" />

            <label>Email:</label>
            <input name="txtEmail" class="form-control" />

            <label>Showing Time:</label>
            <input name="dateShowingTime" type="date" class="form-control" />

            <button id="btnSubmitShowing" type="submit">Schedule</button>
        </form>
    }
    else
    {
        <h1>No Home Provided...</h1>
    }
</body>
</html>
