@model Project4.Models.Home
@{
    ViewData["Title"] = "Project 4 - Schedule Showing";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <meta charset="utf-8" />
    </head>
    <body>
    @if(Model != null)
    {
        TempData["Home"] = @Model;
        <form asp-controller="Showing" asp-action="ShowingRequest" method="POST">
            <h1>Schedule Showing</h1>
            <h2>Home Information</h2>
            <label> Agent ID: @Model.AgentID </label>
            <h2>Client Information</h2>

            <label>First Name:</label>
            <input id="clientFirstName" class="form-control" />

            <label>Last Name:</label>
            <input name="txtClientLastName" class="form-control" />

            <label>Street:</label>
            <input name="txtClientStreet" class="form-control" />

            <label>City:</label>
            <input name="txtClientCity" class="form-control" />

            <label>State:</label>
            <select name="ddlClientState" class="form-control">
                @foreach (States state in Enum.GetValues(typeof(States)))
                {
                    <option value="@state">@state</option>
                }
            </select>

            <label>Zip Code:</label>
            <input name="txtClientZipCode" class="form-control" />

            <label>Phone Number:</label>
            <input name="txtClientPhoneNumber" class="form-control" />

            <label>Email:</label>
            <input name="txtClientEmail" class="form-control" />

            <label>Showing Time:</label>
            <input name="dateClientShowingTime" type="date" class="form-control" />

            <button id="btnSubmitShowing" type="submit">Schedule</button>
        </form>
    }
    else
    {
        <h1>No Home Provided...</h1>
    }
</body>
</html>
